# Gradle
.gradle/
build/
gradle.properties

# Java
*.class
out/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# NetBeans
nbproject/private/

# Node
node_modules/

# Apache Derby 
data/
derby.log
appdb/
lib/
bin/